In [34]:
import numpy;
std = ["22","19","9","8","12"];
x = numpy.array(std);
print(x);

['22' '19' '9' '8' '12']

In [18]:
arr2 = [[6,9],[4,3]];
y = numpy.array(arr2);
print(y);

[[6 9]
 [4 3]]

In [19]:
#sort形成坡面
y.sort();
print(y);

[[6 9]
 [3 4]]

In [17]:
#max'min找出单一数字
ym = y.max();
ymin = y.min();
print(ym,ymin);

6 2

In [37]:
#slice
x.sort();
x1 = x[0:2];
x2 = x[2:4];
x3 = x[3:];
print(x1,x2,x3);

['12' '19'] ['22' '8'] ['8' '9']

In [61]:
import pandas as pda;
#series 序列
a  = pda.Series(std);
a_1 = a[1];
print(a_1);

b = pda.DataFrame([x1,x2,x3]);
print(a,b);
print("-------\n",b[0],"\n---------\n",b[1]);

19
0    22
1    19
2     9
3     8
4    12
dtype: object     0   1
0  12  19
1  22   8
2   8   9
-------
 0    12
1    22
2     8
Name: 0, dtype: object
---------
 0    19
1     8
2     9
Name: 1, dtype: object

In [69]:
print(b.head(),"\n",b.head(2),"\n",b.tail(),"\n",b.tail(2));

    0   1
0  12  19
1  22   8
2   8   9
     0   1
0  12  19
1  22   8
     0   1
0  12  19
1  22   8
2   8   9
     0  1
1  22  8
2   8  9

In [76]:
#statics
b.describe()

        0  1
count   3  3
unique  3  3
top     8  8
freq    1  1

In [75]:
b.T

    0   1  2
0  12  22  8
1  19   8  9

In [77]:
b

    0   1
0  12  19
1  22   8
2   8   9