In [2]:
import pandas as pda;
data_csv = pda.read_csv("F:\Lab--------------\data\hexun.csv");

In [3]:
#前位数，中位数，后位数
data_csv.describe()

                 1            21            0
count  5696.000000   5696.000000  5696.000000
mean   2849.500000    772.570751     4.636236
std    1644.437898   2814.228154    19.843046
min       2.000000      1.000000     0.000000
25%    1425.750000      1.000000     0.000000
50%    2849.500000      2.000000     0.000000
75%    4273.250000    110.250000     0.000000
max    5697.000000  62861.000000   363.000000

In [3]:
html = pda.read_html("F:/Lab--------------/data/abc.html");

In [4]:
xls = pda.read_excel("F:/Lab--------------/data/abc.xls");

In [5]:
html

[   0  1
 0  7  9
 1  5  8
 2  2  6]

In [6]:
xls

     id   阅读数
0    22  8287
1   223   323
2  8821   133

In [13]:
html_now = pda.read_html("https://github.com/2133430/pytest_nlp");

In [9]:
txt = pda.read_table("F:/Lab--------------/data/abc.txt");

In [10]:
txt.head()

                                      LocalHouseNews
0                                          LocalNews
1                                          civilnews
2                                  InternationalNews
3                                        FinanceNews
4  http://news.baidu.com/widget?id=EnterNews&t=14...

In [14]:
html_now

[    0                                          1                       2  \
 0 NaN  Failed to load latest commit information.                     NaN
 1 NaN                               basic1.ipynb        delete the error
 2 NaN                               basic2.ipynb  basic_numpy_and_pandas
 3 NaN                    min_edit_distance.ipynb                 changed

               3
 0           NaN
 1  Sep 24, 2018
 2   Oct 4, 2018
 3  Sep 24, 2018  ]